# see https://github.com/ahmadnassri/action-dependabot-auto-merge
# name: Auto Merge Dependabot

on:
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened

permissions:
  contents: write
  pull-requests: write

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ahmadnassri/action-dependabot-auto-merge@45fc124d949b19b6b8bf6645b6c9d55f4f9ac61a # v2.6.6
        with:
          target: minor
          github-token: ${{ secrets.GITHUB_TOKEN }}
