name: Linting

on:
    pull_request:
        types: [opened, reopened, synchronize]
    push:
        branches:
            - main

permissions:
    contents: read

jobs:
    run-tests:
        name: Python linters
        runs-on: ubuntu-latest
        timeout-minutes: 5

        steps:
            - uses: actions/checkout@v5
              with:
                  persist-credentials: false
                  fetch-depth: 0

            - name: Show env variables
              run: |
                  echo "$HOME/bin" >> $GITHUB_PATH
                  echo "${pwd}/.venv/bin" >> $GITHUB_PATH
                  printenv | sort

            - name: Set up Python 3.1.
              uses: actions/setup-python@v5
              with:
                  python-version: "3.13"

            - name: Install just
              run: |
                  curl --proto '=https' --tlsv1.2 -sSf https://just.systems/install.sh | bash -s -- --to /usr/local/bin
                  which just
                  just --version

            - name: Install uv
              uses: astral-sh/setup-uv@v6
              with:
                  version: "latest"

            - name: Install project + dependencies
              run: |
                  just ubuntu-remove-global-sitecustomize
                  just uv-set-python-version ${{ matrix.python-version }}
                  just install

            - name: Ruff format
              run: |
                  just ruff-format

            - name: Ruff check
              run: |
                  just ruff-check

            - name: Pylint
              run: |
                  just pylint

            - name: Mypy
              run: |
                  just mypy

            - name: Ty
              run: |
                  just ty-check

            - name: Pyroma
              run: |
                  just pyroma

            - name: uv lock check
              run: |
                  just uv-lock-check

            # - name: Bandit
            #   run: |
            #       just bandit-html

            # https://docs.github.com/en/actions/using-workflows/storing-workflow-data-as-artifacts
            # - name: Upload Bandit Report
            #   uses: actions/upload-artifact@v4
            #   with:
            #       name: Bandit Report
            #       path: var/html-bandit/index.html
            #       retention-days: 10
